.about-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 12px;
  margin-bottom: 100px;
}

.about-content,
.about-animation {
  flex: 1;
}

@media (max-width: 960px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-content,
  .about-animation {
    margin: auto;
    width: 90%;
  }
}
