@media (max-width: 1024px) {
    .profile-image {
      width: 100%;
      max-width: 150px; /* Ajusta este valor según sea necesario */
      max-height: 150px;
      object-fit: cover; /* Esto asegurará que la imagen mantenga su relación de aspecto */
    }
  }

